@import url("css/theme.css");

.wy-side-nav-search, .wy-nav-top {
    background-color: #36104f !important;
}

a {
    color: #6c003b;
    text-decoration: none;
}

a:hover {
    color: #780042;
}


.wy-side-nav-search > a:hover, .wy-side-nav-search > a:visited {
    color: #fcfcfc;
}

.wy-side-nav-search input[type=text] {
    border-color: #8f004f;
}

.wy-menu-vertical a {
    color: #b3b3b3;
}

.wy-menu-vertical a:active {
    background-color: #9B59B6;
}

.alert-danger {
    color: #f00;
}

/** Figures and captions **/
.figure img {
    margin-bottom: 1rem;
}

.figure .caption .caption-text {
    font-size: .8rem;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}